/* Import the Agustina Regular font */
@font-face {
  font-family: "Agustina Regular";
  src: url("../../assets/fonts/Agustina.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full-screen height */
  background-color: #0b132b; /* Dark background */
}

.splash-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Adjust to your loader size */
  height: 150px;
}

.infinity-loader {
  width: 100%;
  height: auto;
  /* No rotation animation for static loader */
}

.splash-title-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature-name {
  font-family: "Agustina Regular", cursive; /* Use the Agustina font */
  font-size: 36px; /* Adjust size as needed */
  color: #ffffff; /* White text for better contrast */
  text-align: center;
  font-weight: bold;
  padding: 0 20px; /* Add padding for a balanced look */
}

.grey-color {
  color: #b0b0b0; /* Lighter gray for additional elements if needed */
}
